<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="utf-8">
    <title>{{ site.data.settings.site_title }}</title>
    <link rel="shortcut icon" href="{{ site.data.settings.favicon }}">
    <link rel="stylesheet" href="{{ "/assets/css/style.css" | relative_url }}">
    <script src="https://identity.netlify.com/v1/netlify-identity-widget.js"></script>
  </head>
  <body>
    <main>
      {% if paginator.page==1 %}
        <header>
          {{ site.data.settings.header_bio | markdownify }}
        </header>
      {% endif %}
      {{ content }}
    </main>
    {% if page.layout == "home" %}
      {% if paginator.total_pages > 1 %}
        {% include pagination.html %}
      {% else %}
        <div class="pagination">Page: 1</div>
      {% endif %}
    {% endif %}
    <!-- netlify cms login script -->
    <script>
      if (window.netlifyIdentity) {
        window.netlifyIdentity.on("init", user => {
          if (!user) {
            window.netlifyIdentity.on("login", () => {
              document.location.href = "/admin/";
            });
          }
        });
      }
    </script>
  </body>
</html>
